.container
  %h2 Edit Profile
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'Avatar'
    %div
      = f.file_field :avatar
    %br/
    %div
      = f.label :nickname, 'Nickname'
    %div
      = f.text_field :nickname, class: 'text'
    = f.submit 'Submit', class: 'btn-primary'