.container
  - @tasks.each do |task|
    = link_to board_tasks_path(task) do
      .card
        .card_content
          .card_content_title
            = task.title
          .card_content_detail
            = task.content
          .card_content_info
            .card_content_info_image
              = image_tag task.user.avatar_image
              %div
                %p= task.author_name
                %p= task.display_created_at
  = link_to new_task_path do
    .new-task
      %span + Add new task