.container
  %h1.back-link= link_to @task.board.title, board_path(@task.board)
  .task
    %h2= @task.title
    -# - if user_signed_in? && current_user.has_written?(@task)
    .task_actions
      .dropdown
        = image_tag 'Combined Shape.png', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_task_path(@task.board)
          = link_to 'Delete', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもいいですか？' }
    .task_content
      = @task.content
    .task_deadline
      Deadline:
      = @task.deadline
    .task_info
      -# = image_tag @task.user.avatar_image
      = image_tag 'アイコン.jpg'
      %div
        -# %p= @task.author_title
        %p hiro
        -# %p= @task.display_created_at
        %p 2024/6/10

  .task
    %h2 Comments
    - @comments.each do |comment|
      .task_info
        = image_tag 'アイコン.jpg'
        %p= comment.content
    =link_to new_board_task_comment_path(@task.board, @task) do
      .new-board
        %span + Add new comment
