.container
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_content
          .card_content_title
            = board.title
          .card_content_detail
            = board.content
          .card_content_task
            .card_content_task_author
              - board.task_authors.each do |task_author|
                = image_tag task_author.avatar_image
            .card_content_task_count
              %span= board.tasks.count
              = image_tag "message-square-outline.png"
  = link_to new_board_path do
    .new-board
      %span + Add new board