.container
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_content
          .card_content_title
            = board.title
          .card_content_detail
            = board.content
          .card_content_info
            .card_content_info_author
              = image_tag "アイコン.jpg"
              -# = image_tag board.user.avatar_image
              .card_content_info_author_created
                %p= board.author_name
                %p= board.display_created_at
            .card_content_info_task
              %span= board.tasks.count
              = image_tag "message-square-outline.png"
  = link_to new_board_path do
    .new-board
      %span + Add new board